
.box{
   box-sizing: border-box;
  border-radius: 10%;
  background-color:rgba(0,140,200, 0.8);
  width: 330px;
  height: 250px;
  padding: 15px;
  margin-left: 40%;
  margin-top: 10%;
}
.screen{
  box-sizing: border-box;
  border-radius: 5px;
  background-color: rgb(215, 216, 207);
  border-color:black;
  height: 50px;
  width: 255px;
  padding: 10px;
  margin-top: 50px;
  margin-left: 15px;
  text-align: center;
  font-size: 2rem;
}
.btn-box{
  display: inline-block;
  padding:40px 20px;
}
.btn{
  width: 70px;
  padding: 5px;
  margin-right: 10px;
}
